apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama
  namespace: {{ k8s_namespace }}
  labels:
    app: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      containers:
      - name: ollama
        image: ollama/ollama:0.1.48
        imagePullPolicy: IfNotPresent
        command:
        - "/bin/sh"
        - "-c"
        - "ollama serve & sleep 5 && ollama pull {{ ollama_model }} && wait"
        ports:
        - containerPort: 11434
          name: api
        resources:
          requests:
            memory: "2Gi"
            cpu: "1000m"
          limits:
            memory: "6Gi"
            cpu: "4000m"
        readinessProbe:
          httpGet:
            path: /
            port: 11434
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 11434
          initialDelaySeconds: 15
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: ollama
  namespace: {{ k8s_namespace }}
  labels:
    app: ollama
spec:
  type: ClusterIP
  ports:
  - port: 11434
    targetPort: 11434
    name: api
  selector:
    app: ollama
