apiVersion: v1
kind: Secret
metadata:
  name: llmops-secrets
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  postgres-password: "{{ postgres_password }}"
  redis-password: "{{ redis_password }}"
